.main-container {
    height: 100%;
}

.content-section {
    min-height: 78vh;
    background-color: rgb(78, 208, 189);
    padding-top: 4rem;
}
.headerContainer {
    background-color: rgb(13, 40, 36);
    color: antiquewhite;
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .headerName {
        display: flex;
        flex-wrap: wrap;
    }
    p {
       font-family: 'Times New Roman', Times, serif;
       font-size: large;
      line-height: 1.5rem;
    }
  .navDiv a   {
    color: rgb(43, 220, 226);
    font-weight: bold;
   
  }
a:hover{
background-color: beige;
}
a.active {
    color: rgb(12, 239, 39);
}